* {
    font-family: 'Merriweather', 'Gloock', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #e5c99c;
    font-family: "Merriweather";
    padding: 50px;
}

h1 {
    color: #213e50;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    margin: 50px 0 20px;
}

h2 {
    color: #213e50;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}


p {
  color: white;
  font-size: 1.5rem;
  margin: 100px auto  65px;
  text-align: center;
  width: 50%;
}

button {
    background: #e6ecea;
    border-radius: 15px;
    color: #213e50;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: auto auto 120px;
    padding: 3px;
    width: 200px;
}

button:hover {
    background: transparent;
    box-shadow: 0 0.4rem 1.4rem 0 #213e50;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.eat {
    background: #e6ecea;
    border-style: none;
    color: #213e50;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    height: auto;
    margin: auto auto 50px;
    padding: 20px;
    text-align: center;
    width: auto;
}

@media (max-width: 600px) {
    .eat {
        height: auto;
        width: auto;
    }
}

img {
    border: solid #213e50;
    border-radius: 100px;
    transition: 0.2s ease-out;
    padding: 5px;
}

img:hover {
    box-shadow: 0px 0px 20px 3px #213e50;;
  transform: scale(1.05);
}

.slides {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .meal {
    width: calc(25% - 16px);
    margin-bottom: 50px;
  }
  
  @media (max-width: 1500px) {
    .meal {
      width: calc(33.33% - 16px);
    }
  }
  
  @media (max-width: 1100px) {
    .meal {
      width: calc(50% - 16px);
    }
  }
  
  @media (max-width: 700px) {
    .meal {
      width: calc(100% - 16px);
    }
  }

  #contact {
    align-items: center;
    background: #e6ecea;
    box-shadow: 0px 0px 20px 3px #213e50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
    margin: 80px auto 0;
    width: 30%;
  }

.icons {
    align-items: center;
    display: flex;
    justify-content: center;
    /* padding: 10px; */
}

.icons a {
    margin: 70px 20px -70px;
    color: #213e50;
}

.closing {
    color: #213e50;
}

.fa-linkedin:hover {
  color: #0A66C2;

}

.fa-envelope:hover {
  color: #3b5998;
}

.fa-github:hover {
  color: #070707;
}