* {
    font-family: 'Merriweather', 'Gloock', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #e5c99c;
    font-family: "Merriweather";
   
}


p {
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 100px auto  auto;
    text-align: center;
    width: 50%;
}

h1 {
    color: #213e50;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

h2 {
    color: #213e50;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

h3 {
    align-self: center;
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar {
    background: #e5c99c;
}

.navbar-item {
    margin-left: 50px;
}

.myContainer {
    margin: 0;
    width: 100vw;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 800px){
    .myContainer {
        justify-content: center;
    }
  }

.hero{
    background-image: url(https://images.pexels.com/photos/5490826/pexels-photo-5490826.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 80vh;
    grid-area: main;
    width: 100vw;
}

.sidebar-left {
    background-color: #e6ecea;
    grid-area: sidebar;
    height: 70vh;
    /* position: fixed; */
    width: 200px;
    
  }

  @media (max-width: 800px){
    .sidebar-left, .sidebar-right {
        display: none;
    }
  }

  .sidebar-right {
    background-color: #e6ecea;
    height: 70vh;
    /* position: fixed; */
    justify-self: right;
    width: 200px;
  }


@media  (max-width: 800px) {
    button {
        margin: 10px;
    }
}

button {
    background: #e6ecea;
    border-radius: 15px;
    color: #213e50;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 3px;
    width: 200px;
}

button:hover {
    background: transparent;
    box-shadow: 0 0.4rem 1.4rem 0 #213e50;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}



.columns {

    display: flex;
    /* justify-content: center; */
    text-align: center;
}

.column {
 
    width: 30%;
}

@media (max-width: 800px){
    .column {
        /* justify-content: space-between; */
        padding: 0;
        width: 100%;
    }
  }


